.main__create-desk {
    margin-top: 20px;
}

.main__input-desk-name {
    width: 100%;
    border-color: rgba(0,212,255,1);
    color: rgba(9,9,121,1);
    padding: 5px;
    margin: 10px 0;
}

.main__add-desk {
    width: 40%;
    margin: 0 5%;
    border-color: rgba(0,212,255,1);
    color: rgba(9,9,121,1);
    background-color: greenyellow;
}

.main__cansel {
    width: 40%;
    margin: 0 5%;
    border-color: rgba(0,212,255,1);
    color: rgba(9,9,121,1);
    background-color: tomato;
}

.main__color {
    width: 15px;
    height: 15px;
}

.main__color-selection-wrapper {
    text-align: center;
    padding: 10px 0;

    .main__color-selection-text {
        margin-bottom: 10px;
    }
}

.main__color-list {
    display: flex;
    flex-wrap: wrap;
}

.main__color-item {
    margin: 0 10px 5px 0;
}